@import "../foundation/variables.css";
@import "../foundation/reset.css";
@import "../foundation/base.css";
@import "../foundation/layout.css";

/* ===============
- intro
=============== */
.intro {
  margin-top: var(--space-lg);
}
.intro-heading {
  font-weight: 600;
  font-size: 1.2em;
}
.intro-list {
  margin-top: var(--space-md);
  padding-left: 1em;
  list-style: disc;
}
